<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>JSL Web</title>

  <!-- Title Icon -->
  <link rel="shortcut icon" href="images/jsl.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=McLaren&family=Montserrat:wght@500&display=swap" rel="stylesheet">
  
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Social Button Icon CSS -->
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <!-- Local CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="/">JSL Web</a>
    <% const inviteLink = "https://discord.com/oauth2/authorize?client_id=699505785847283785&permissions=1026911319&redirect_uri=https%3A%2F%2Fjsl-web.herokuapp.com%2Fauth%2Fdiscord%2Fsecrets&response_type=code&scope=guilds%20identify%20connections%20bot"; %> 
    <a class="nav-item" target="_blank" href="<%- inviteLink %>"> <i class="fa fa-plus"></i> Invite </a>
    <p>|</p>
    <a class="nav-item" target="_blank" href="https://boosterbot.xyz/support"> <i class="fab fa-discord"></i> Server </a>
    <p>|</p>
    <a class="nav-item" target="_blank" href="https://github.com/DiabolusGX/JSL"> <i class="fas fa-book"></i> Docs </a>
    <p>|</p>
    <a class="nav-item" target="_blank" href="https://top.gg/bot/699505785847283785/vote"> <i class="fas fa-trophy"></i> Upvote 💜 </a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%if(!req.isAuthenticated()) { %>
          <form action="/auth/discord" method="GET">
          <button class="btn btn-block btn-social btn-discord" type="submit">
            <i class="fab fa-discord"></i>
            Login with Discord
          </button>
          </form>
          <!-- <a class="btn btn-block btn-social btn-discord" href="/auth/discord" role="button">
            <i class="fab fa-discord"></i>
            Login with Discord
          </a> -->
        <% } else { %>
          <div class="nav-item">
            <img src= <%= req.user.picture %> class="profile rounded-circle nav-item" alt="profile_pic">
            <p class="nav-item"> <%= req.user.displayName %> </p>
          </div>
          <a href="/logout"><i class="fas fa-sign-out-alt fa-lg nav-item"></i></a>
        <% } %>
      </li>
    </ul>

  </header>
