<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Restoration Basement</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <a class="spacing btn btn-lg btn-outline-primary" href="/steam" role="button">Steam</a>
    <a class="spacing btn btn-lg btn-outline-primary" href="/joke" role="button">Joke</a>
    <hr class="dot-hr">
    <a class="btn btn-light btn-md" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-md" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
