<%- include('partials/header') %>

<div class="centered">
  <div class="container"> 
    <i class="spacing far fa-window-restore fa-6x" style="color: #ee6f57;"></i>
    <h1 class="spacing heading display-3">Restoration Basement</h1>
    <p class="spacing lead">Don't keep your desires, share and explore them the way you want!</p>
    
    <hr>

    <div class="row mx-auto">

      <div class="col-md-6">
        <div class="note">
          <h1 class="heading display-5"> JSL Bot Modules </h1>
          <a class="spacing btn btn-lg btn-outline-primary" href="/servers" role="button">Servers</a>
          <a class="spacing btn btn-lg btn-outline-primary" href="/steam" role="button">Steam Module</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="note">
          <h1 class="heading display-5">Entertainment Zone</h1>
          <a class="spacing btn btn-lg btn-outline-primary" href="/joke" role="button">Jokes</a>
          <a class="spacing btn btn-lg btn-outline-primary" href="/movie" role="button">Movie</a>
          <!-- <a class="spacing btn btn-lg btn-outline-primary" href="/show" role="button">TV Show</a> -->
        </div>
      </div>

    </div>
      
    <!-- <hr class="dot-hr">
    <a class="btn btn-light btn-md" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-md" href="/login" role="button">Login</a> -->
  </div>
</div>

<%- include('partials/footer') %>
