<%- include('partials/header') %>

<div class="container">
  <h1 class="spacing heading centered">Server Picker - JSL Web</h1>
  <p class="centered"> Work In Progress... </p>
  <hr>

  <% if(!servers) { %> 

    <div class="centered">
      <div class="note">
        <h1>Please make sure to login with discord.</h1>
        <p>Unable to fetch server list!</p>
      </div>
    </div>

  <% } else {  %>
    <%- servers %>
  <% } %>

</div>

<%- include('partials/footer') %>
