* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #f6ecf0;
  color: #949cdf;
  padding: 0 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  background-color: #cd5d7d;
  margin: 16px auto;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  color: #fff;
  font-family: "McLaren", cursive;
  max-height: 60px !important;
}
header p { margin: 0; }
header a { color: inherit; transition: transform .2s; }
header a:hover { color: inherit; transform: scale(1.25); }
.nav-item {
  display: inline;
  padding: 10px;
}
.profile {
  padding: 0;
  height: 35px;
  width: 35px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.screenshot {
  width: 100%;
}
.thumbnail {
  right: 5%;
  margin-top: 70px;
}
.server-card {
  display: block;
  padding-top: 8px;
  padding-bottom: auto;
}
.server-card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 50px;
  max-width: 50px;
  border: 3px solid #e74c3c;
}

.heading {
  color: #6175ba;
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}
.center-ul {
  display: table;
  margin: 10px auto;
}

/* Input Feild */
input[type=text] {
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding: 12px 12px 8px 12px;
  color: #fff;
  text-align: center;
}
input[type=text]:focus {
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;
}

.note {
  position: relative;
  background: rgb(26, 26, 26);
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 50px 25px;
}
.note h1, h2 {
  margin-bottom: 15px;
  padding: 10px;
}
.note p {
  padding: 10px;
}
p {
  font-size: 1.1em;
  margin-bottom: 10px;
}




/* class for add up-down margin */
.spacing{
  margin: 40px 12px 6px;
}
.vertical {
  border-left: 6px solid #A9A9A9;
  left: 50%;
  padding: 10px;
  border-radius: 3px;
}
.centered {
  text-align: center;
  margin: auto;
}
.dot-hr{
  border: dotted #cd5d7d 4px;
  border-bottom: none;
  width: 8%;
  margin: 50px auto;
} 
.hiddne-class{
  display: none;
}

/* Footer */
footer {
  color: #fff;
  background-color: #6175ba;
  max-height: 25px;
  text-align: center;
}
